<div class='swiper-slide live-demo--mobile {{className}}'>
  <header class='live-demo__header'>
    <button class='btn btn--icon-only btn--clear btn--prev'>
      <svg class='btn__icon'>
        <use xlink:href='#chevron-left'></use>
      </svg>
    </button>
    <h3 class='live-demo__title'>{{title}}</h3>
    <button class='btn btn--icon-only btn--clear btn--next'>
      <svg class='btn__icon'>
        <use xlink:href='#chevron-right'></use>
      </svg>
    </button>
  </header>
  <div class='visit'>
    <div class='visit__id'>
      <div class='visit__label'>
        Your ID
      </div>
      <div class='visit__value'>
        {{visitId}}
        <svg
          class='info'
          data-tippy-content='Every visitor to your website is assigned a unique & permanent identifier.'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
    </div>
    <div class='visit__bot'>
      <div class='visit__label'>
        Bot
      </div>
      <div class='visit__value'>
        {{bot}}
        <svg
          class='info'
          data-tippy-content='Every response will include the botProbability field that you can use to identify bot traffic.'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
    </div>
    <div class='visit__ip'>
      <div class='visit__label'>
        IP
      </div>
      <div class='visit__value'>
        {{ip}}
      </div>
    </div>
    <div class='visit__incognito'>
      <div class='visit__label'>
        Incognito
      </div>
      <div class='visit__value'>
        {{incognito}}
        <svg
          class='info'
          data-tippy-content='FingerprintJS Pro analyzes every page view and detects if it was made in incognito mode. Open this page in private mode to see it in action.'
          tabindex='0'
        >
          <use xlink:href='#info'></use>
        </svg>
      </div>
    </div>
    <div class='visit__browser'>
      <div class='visit__label'>
        Browser
      </div>
      <div class='visit__value'>
        {{browser}}
      </div>
    </div>
    <div class='visit__location'>
      <div class='visit__label'>
        Location
      </div>
      <div class='visit__value user-location {{locationClassName}}'>
        <img class='visit__location-image' src='{{location}}' />
      </div>
    </div>
  </div>
</div>